.navbar-custom {
  background-color: #ffffff; 
  border-bottom: 1px solid #dee2e6; 
  font-family: 'Roboto', sans-serif; 
  font-weight: bold;
}

.navbar-custom .navbar-brand img {
  height: 50px; 
}

.navbar-custom .nav-link {
  color: #6c757d; 
  font-weight: 500; 
  margin-right: 15px; 
  transition: color 0.3s ease-in-out;
}

.navbar-custom .nav-link:hover {
  color: #343a40; 
}

.navbar-custom .dropdown-menu {
  background-color: #ffffff; 
  border: 1px solid #dee2e6; 
}

.navbar-custom .dropdown-item {
  color: #6c757d; 
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar-custom .dropdown-item:hover {
  background-color: #f8f9fa; 
  color: #343a40;
}