/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-mr7mnddhu7] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-mr7mnddhu7] {
  color: #0077cc;
}

.btn-primary[b-mr7mnddhu7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-mr7mnddhu7], .nav-pills .show > .nav-link[b-mr7mnddhu7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-mr7mnddhu7] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-mr7mnddhu7] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-mr7mnddhu7] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-mr7mnddhu7] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-mr7mnddhu7] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* Estilos para la barra de navegación */
.navbar[b-mr7mnddhu7] {
  background-color: #f8f9fa; /* Color de fondo */
  border-bottom: 1px solid #e0e0e0; /* Línea inferior */
  padding: 10px 20px; /* Espaciado alrededor */
}

.navbar-nav[b-mr7mnddhu7] {
  margin-left: auto; /* Mueve los enlaces hacia la derecha */
}

.navbar-nav .nav-item[b-mr7mnddhu7] {
  margin-left: 15px; /* Espaciado entre los enlaces */
}

.navbar-nav .nav-link[b-mr7mnddhu7] {
  color: #333; /* Color del texto */
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.navbar-nav .nav-link:hover[b-mr7mnddhu7] {
  color: #007bff; /* Color del texto al pasar el ratón */
}

.navbar img[b-mr7mnddhu7] {
  height: 40px; /* Tamaño del logo */
}

/* Opcional: ajuste para el contenedor del logo */
.navbar-brand[b-mr7mnddhu7] {
  display: flex;
  align-items: center; /* Centra el logo verticalmente */
}


