    <script>
        $(document).ready(function() {
           $('#datepicker').datepicker({
               format: 'mm/dd/yyyy',
               autoclose: true,
               todayHighlight: true
           });
       });
       </script>
       <style>
       .datepicker {
    z-index: 1050 !important; 
}

form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}


.input-group {
    margin-bottom: 15px;
}

.input-group-text {
    width: 120px;
    text-align: right;
    background-color: #007bff;
    color: #fff;
}


.form-control, .form-select {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}

.form-control:focus, .form-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}


#datepicker {
    background-color: #fff;
}


.container {
    padding: 15px;
    margin-bottom: 15px;
}


.form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}


.form-select {
    margin-bottom: 15px; 
}

.btn-primary {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}


.mb-3 {
    margin-bottom: 1rem;
}

       </style>

<form action='@Url.Action("GuardarDeportista")' method="POST">
    <div class="input-group">
        <span class="input-group-text">Nombre</span>
        <input type="text" name="Nombre" aria-label="Nombre" class="form-control">
        <span class="input-group-text">Apellido</span>
        <input type="text" name="Apellido" aria-label="Apellido" class="form-control">
    </div>

    <div class="container mt-5">
        <div class="form-group">
            <label for="datepicker">Fecha de Nacimiento:</label>
            <input type="text" name="FechaNacimiento" class="form-control" id="datepicker">
        </div>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Link Foto</label>
        <input type="text" name="Foto" class="form-control" id="exampleInputEmail1">
    </div>

    <select name="IdDeporte" class="form-select" aria-label="Default select example">
        <option value="">Elija el ID del Deporte del Atleta</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <select name="IdPais" class="form-select" aria-label="Default select example">
        <option value="">Elija el ID del Pais del Atleta</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
