<form action='@Url.Action("GuardarDeportista")' method="POST">
    <div class="input-group">
        <span class="input-group-text">Nombre</span>
        <input type="text" name="Nombre" aria-label="Nombre" class="form-control">
        <span class="input-group-text">Apellido</span>
        <input type="text" name="Apellido" aria-label="Apellido" class="form-control">
    </div>

    <div class="container mt-5">
        <div class="form-group">
            <label for="datepicker">Fecha de Nacimiento:</label>
            <input type="text" name="FechaNacimiento" class="form-control" id="datepicker">
        </div>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Link Foto</label>
        <input type="text" name="Foto" class="form-control" id="exampleInputEmail1">
    </div>

    <select name="IdDeporte" class="form-select" aria-label="Default select example">
        <option value="">Elija el ID del Deporte del Atleta</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <select name="IdPais" class="form-select" aria-label="Default select example">
        <option value="">Elija el ID del Pais del Atleta</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
