<div class="titulo"> 
<h1> Los Creadores De La Pagina</h1>
</div>
<div class="creditos"> 
  <div class="image-container">
    <img src="../Fotos/tomi.jpeg" alt="tomi">
    <div class='cita'> </div>
    <p>Tomas Cabral Rios</p>
    <p>Back End</p>
  </div>
  
  <div class="image-container">
    <img src="../Fotos/ian.jpg" alt="ian">
    <div class='cita'> <p>Ian Segade</p> </div>

    <p>Back End</p>
  </div>
  
  <div class="image-container">
    <img src="../Fotos/lucas.jpeg" alt="lucas">
    <div class='cita'>    <p>Lucas D'Agostino</p> </div>

    <p>Front End Designer</p>
  </div>
  <div class="image-container">
    <img src="../Fotos/leti.jpeg" alt="leti">
    <div class='cita'>    <p>Leticia Passer</p> </div>

    <p>Front End Designer</p>
  </div>
</div>

 <footer >
            <img class = footi src = "../Fotos/jooparis.png">
        <div class="FooterText">
            &copy; 2024 - TP_SQL - Ian Segade - Lucas D'Agostino - Tomas Cabral - Leticia Passer
        </div>
    </footer>