<div class="container">
    <div class="row">

      @foreach(Deporte deporte in @ViewBag.ListaDeportes)
      {
          <div class="card" style="width: 18rem;">
          <img src="@deporte.Foto" class="card-img-top" alt="Foto Deportista">
            <div class="card-body">
              <h5 class="card-title">@deporte.Nombre</h5>
            </div>
            <a href='@Url.Action("VerDetalleDeporte", "Home", new {idDeporte = deporte.IdDeporte})' class="btn btn-primary">Ver Detalle Deporte</a>
          </div>
      }
    </div>
</div>