<div class="container">
    <div class="row">

      @foreach(Deporte deporte in @ViewBag.ListaDeportes)
      {
          <div class="card" style="width: 18rem;">
          <img src="@deporte.Foto" class="card-img-top" alt="Foto Deportista">
            <div class="card-body">
              <h5 class="card-title">@deporte.Nombre</h5>
            </div>
            <a href='@Url.Action("VerDetalleDeporte", "Home", new {idDeporte = deporte.IdDeporte})' class="btn btn-primary">Ver Detalle Deporte</a>
          </div>
      }
    </div>
<<<<<<< HEAD
</div>

 <footer >
            <img class = footi src = "../Fotos/jooparis.png">
        <div class="FooterText">
            &copy; 2024 - TP_SQL - Ian Segade - Lucas D'Agostino - Tomas Cabral - Leticia Passer
        </div>
    </footer>
=======
</div>
>>>>>>> bdd5f012b23634c6ef4b0ef4996d0aa0dcefb71f
