        <div class="container">
        <article>
            <h2>Los Juegos Olímpicos Antiguos</h2>
            <p>Los Juegos Olímpicos tienen sus raíces en la antigua Grecia. Se celebraron por primera vez en el 776 a.C. en la ciudad de Olimpia, en la región del Peloponeso. Estos juegos eran una forma de celebrar a los dioses, especialmente a Zeus, el dios principal del panteón griego. Los atletas competían en eventos como la carrera de estadio, la lucha, y el pentatlón, entre otros.</p>

            <h2>La Influencia de los Juegos Olímpicos en la Antigua Grecia</h2>
            <p>Los Juegos Olímpicos antiguos no solo eran una competencia deportiva, sino que también eran un evento cultural significativo. Eran una oportunidad para que las ciudades-estado griegas mostraran su prestigio y riqueza, y se utilizaban para promover la paz entre las regiones en conflicto.</p>
            <iframe width="1200" height="700" src="https://www.youtube.com/embed/asEm6NDh0fs?si=E8Gx1v9abKFOEF6c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h2>Los Juegos Olímpicos Modernos</h2>
            <p>Después de desaparecer durante siglos, los Juegos Olímpicos fueron renovados en el siglo XIX por el Barón Pierre de Coubertin. En 1896, se celebraron en Atenas los primeros Juegos Olímpicos de la era moderna, marcando el renacimiento de esta tradición antigua. Desde entonces, los Juegos se han convertido en un evento global, celebrado cada cuatro años en diferentes ciudades alrededor del mundo.</p>

            <h2>Los Juegos Olímpicos en la Era Contemporánea</h2>
            <p>Hoy en día, los Juegos Olímpicos son un espectáculo de escala global que reúne a atletas de todos los rincones del mundo para competir en una variedad de deportes. Además de los Juegos Olímpicos de Verano, también se celebran los Juegos Olímpicos de Invierno, que incluyen deportes como el esquí y el patinaje sobre hielo.</p>
            <img src= "../Fotos/histJOO.jpg">
            <h2>Impacto Cultural y Social</h2>
            <p>Los Juegos Olímpicos han tenido un impacto duradero en la cultura y la sociedad, promoviendo valores como la excelencia, la amistad y el respeto. También han sido una plataforma para destacar cuestiones sociales y políticas, y han contribuido al desarrollo del deporte a nivel mundial.</p>
        </article>
    </div>