@{
    ViewData["Title"] = "Home Page";
}

    
        <div class="imgfondo">
        <img src="../Fotos/jooparis.png" alt="paris">
            <div class="text-overlay">Bienvenido a la pagina web de los Juegos Olimpicos!</div>
        <div>


<p> Aca vas a encontrar informacion sobre los paises que forman parte de los juegos olimpicos y los deportistas que compiten para estos en la categoria </p>
 <footer >
            <img class = footi src = "../Fotos/jooparis.png">
        <div class="FooterText">
            &copy; 2024 - TP_SQL - Ian Segade - Lucas D'Agostino - Tomas Cabral - Leticia Passer
        </div>
    </footer>
<h5 class="textindex"> Aca vas a encontrar informacion sobre los paises que forman parte de los juegos olimpicos y los deportistas que compiten para estos en la categoria </h5>
