@{
    ViewData["Title"] = "Home Page";
}

     <style>
        .image-container {
            position: relative;
            width: 100%; 
            height: 500px;
        }

        .image-container img {
            width: 100%; 
            height: auto;
        }

        .text-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px; 
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
            text-align: center;
        }
    </style>
    
    <div class="image-container">
        <img src="../Fotos/FondoCeremonia.avif" alt="paris">
        <div class="text-overlay">Bienvenido a la pagina web de los Juegos Olimpicos!</div>
    </div>

<p> Aca vas a encontrar informacion sobre los paises que forman parte de los juegos olimpicos y los deportistas que compiten para estos en la categoria </p>