<div class="container">
    <div class="row">

      @foreach(Pais pais in @ViewBag.ListaPaises)
      {
          <div class="card" style="width: 18rem;">
          <img src="@pais.Bandera" class="card-img-top" alt="Bandera Pais">
            <div class="card-body">
              <h5 class="card-title">@pais.Nombre</h5>
              <p class="card-text">El pais se fundo en @pais.FechaFundacion.ToString("dd MMMM yyyy")</p>
            </div>
          </div>
      }
    </div>
</div>
