html, body {
  height: 100%;
  width: 100%;
  font-family: 'Serif', 'Times New Roman';
  text-align: left;
  color: black;
  background-color: #e9e9e9;
  font-size: 27px;
}

* {
  padding: 0px;
  margin: 0px;
  cursor: url('../antor.cur'), auto;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.creditos{
  display: flex;
  justify-content: center;
}
.image-container{
  text-align: center;
  margin: 20px;
  display: inline-block; 
  vertical-align: top;
  width: 180px; 
}

.image-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #7c0303;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container p {
  margin: 10px 0 0;
  font-size: 14px;
  color: #333;
}
