html, body {
  height: 100%;
  width: 100%;
  font-family: 'Serif', 'Times New Roman';
  text-align: left;
  color: black;
  background-color: #e9e9e9;
  font-size: 27px;
}

* {
  padding: 0px;
  margin: 0px;
  cursor: url('../antorcha.cur'), auto;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.creditos{
  display: flex;
  justify-content: center;
}
.image-container{
  text-align: center;
  margin: 20px;
  display: inline-block; 
  vertical-align: top;
  width: 180px; 
}

.image-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container p {
  margin: 10px 0 0;
  font-size: 14px;
  color: #333;
}
.titulo{
  display: flex;
  text-align: center;
  margin: 10px;
 }

.cita p{
  font-weight: bold;
}
footer {
  margin-top: 30px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: left;
  padding: 20px;
  text-align: left;
  flex-direction: column;
  flex-wrap: wrap;
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px; 

}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.card {
  flex: 1 1 calc(33.333% - 20px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  margin-bottom: 20px; 
  overflow: hidden; 
}

.card img {
  width: 100%; 
  height: auto; 
  border-top-left-radius: 8px; 
  border-top-right-radius: 8px; 
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: block; 
  margin-top: 5px;
}

.card-body {
  padding: 15px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  display: flex;
  justify-content: baseline;
}

.header{
  position: sticky;
}

.navbar {
  background-color: #f8f9fa; 
  border-bottom: 1px solid #e0e0e0; 
  padding: 10px 20px; 
  position: sticky;
}

.navbar-nav {
  margin-left: auto; 
}

.navbar-nav .nav-item {
  margin-left: 15px; 
}

.navbar-nav .nav-link {
  color: #333; 
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.navbar-nav .nav-link:hover {
  color: #007bff; 
}

.navbar img {
  height: 40px; 
}


.navbar-brand {
  display: flex;
  align-items: center;
}


.imgfondo img{
  height: 700px;
  width: 100%;
}


.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 70px; 
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  text-align: center;
}

article {
  background: #a0a0a0;
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
  color: #000000;
}
h2 {
  color: #000000;
}

form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}


.input-group {
  margin-bottom: 15px;
}

.input-group-text {
  width: 120px;
  text-align: right;
  background-color: #007bff;
  color: #fff;
}


.form-control, .form-select {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
}

.form-control:focus, .form-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}


.form-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}


.form-select {
  margin-bottom: 15px; 
  margin-top: 15px;
}

.btn-primary {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}


.mb-3 {
  margin-bottom: 1rem;
}

form p {
  font-weight: bold;
}

.hist 
{
  display: flex;
  justify-content: left;
}