html, body {
  height: 100%;
  width: 100%;
  font-family: 'Serif', 'Times New Roman';
  text-align: left;
  color: black;
  background-color: #e9e9e9;
  font-size: 27px;
}

* {
  padding: 0px;
  margin: 0px;
  cursor: url('../antorcha.cur'), auto;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.creditos{
  display: flex;
  justify-content: center;
}
.image-container{
  text-align: center;
  margin: 20px;
  display: inline-block; 
  vertical-align: top;
  width: 180px; 
}

.image-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container p {
  margin: 10px 0 0;
  font-size: 14px;
  color: #333;
}
.titulo{
  display: flex;
  text-align: center;
  margin: 10px;
 }

.cita p{
  font-weight: bold;
}
footer {
  margin-top: 30px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: left;
  padding: 20px;
  text-align: left;
  flex-direction: column;
  flex-wrap: wrap;
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px; 
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.card {
  flex: 1 1 calc(33.333% - 20px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  margin-bottom: 20px; 
}

.card img {
  border-top-left-radius: 8px; 
  border-top-right-radius: 8px; 
  width: 500px;
  height: 200px;

}

.card-body {
  padding: 15px;
}
